<% if(title){ %>
    <h1><%= title %></h1>
<%} else {
    res.redirect('/')
} %>

<%- messages() %>
<section class="form-container">
    <h3>Update Account Information</h3>
    <form class="form" id="updateAccountForm" action="/account/update" method="post">
        <span hidden name="account_id" value="<%= locals.account_id %>"></span>
        <label for="account_firstname">First Name:</label>
        <input type="text" class="form-field" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
        <label for="account_firstname">Last Name:</label>
        <input type="text" class="form-field" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
        <label for="account_email">Email: </label>
        <input type="email" class="form-field" id="account_email" name="account_email" placeholder="myemail@email.com" required value="<%= locals.account_email %>"><br><br>
        <button type="submit" class="form-button" name="updateAccount">Update</button>
    </form>    
    </section><br>
    <section class="form-container">
        <h3>Change Your Password</h3>
    <form class="form" id="updatePasswordForm" action="/account/update" method="post">
        <label for="account_password">Old Password: </label>
        <input type="password" class="form-field" id="account_password" name="account_password" required placeholder="Enter your old password here" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <label for="account_password">New Password: </label>
        <input type="password" class="form-field" id="account_password" name="account_password" required placeholder="Enter your new password here" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
        <span class="show-pass-btn">Show Password</span><p>Passwords must be at least 12 characters and include 
          one capital letter, one lowercase letter, one number, and one non-alphanumeric character.</p>
        <button type="submit" class="form-button" name="changePassword">Change</button>
    </form>
</section>

<!-- // Password Show/hide -->
<script>
const passButton = document.querySelector(".show-pass-btn");
passButton.addEventListener("click", function () {
  const passInput = document.getElementById("account_password");
  const type = passInput.getAttribute("type");
  if (type === "password") {
    passInput.setAttribute("type", "text");
    passButton.innerHTML = "Hide Password";
  } else {
    passInput.setAttribute("type", "password");
    passButton.innerHTML = "Show Password";
  }
});
</script>