<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

<body>
  <div id="wrapper">
    <%- include("../partials/header", { tools: tools}) %>
    <%- include("../partials/navigation") %>
      <main>
         <%- body %>
      </main>
      
    <%- include("../partials/footer") %>
   </div>
</body>
</html>