<% if(title){ %> <h1><%= title %></h1> <%} else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %> <ul class="message warning"> <% errors.array().forEach(error => { %> <li><%= error.msg %></li> <% }) %> </ul> <% } %>


<section class="form-container">
    <p><b>All fields are required.</b></p>
    <form class="form" action="/inv/add-inventory" method ="post">
        <label for="inv_make">Make:</label>
        <input type="character varying" class="form-field" name="inv_make" required value="<%= locals.inv_make %>">
        <label for="inv_model">Model:</label>
        <input type="character varying" class="form-field" name="inv_model" required value="<%= locals.inv_model %>">
        <label for="inv_year">Year:</label>
        <input type="character" class="form-field" name="inv_year" required value="<%= locals.inv_year %>">
        <label for="inv_description">Description:</label>
        <input type="text" class="form-field" name="inv_description" required value="<%= locals.inv_description %>">
        <label for="inv_image">Full Image File Path:</label>
        <input type="character varying" class="form-field" name="inv_image" required placeholder="Example: /images/vehicles/model.jpg" value="<%= locals.inv_image %>">
        <label for="inv_thumbnail">Thumbnail Image File path:</label>
        <input type="character varying" class="form-field" name="inv_thumbnail" required placeholder="Example: /images/vehicles/model-tn.jpg" value="<%= locals.inv_thumbnail %>">
        <label for="inv_price">Price (numbers only):</label>
        <input type="integer" class="form-field" name="inv_price" required value="<%= locals.inv_price %>">
        <label for="inv_miles">Miles (numbers only):</label>
        <input type="integer" class="form-field" name="inv_miles" required value="<%= locals.inv_miles %>">
        <label for="inv_color">Color:</label>
        <input type="character" class="form-field" name="inv_color" required value="<%= locals.inv_color %>">
        <label for="classification_id">Classification:</label>
        <%- options %>
        <br><br> 
        <hr>
        <button type="submit" class="form-button">Add</button>
    </form>
</section>
